<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meixin.bid_admin.mappers.dao.NewsDao" >

    <select id="queryNewsListByUid" parameterType="com.meixin.bid_admin.web.dto.NewsCondition" resultType="com.meixin.bid_admin.entity.News">
        SELECT * FROM news
        <where>
            <if test="uid != -1">uid=#{uid}</if>
            <if test="title != null and title != ''"> AND title=#{title}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
              AND create_time BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="sortName != null and sortName == 'title'">ORDER BY title ${sortOrder}</if>
            <if test="sortName != null and sortName == 'createTime'">ORDER BY create_time ${sortOrder}</if>
            <if test="sortName != null and sortName == 'updateTime'">ORDER BY update_time ${sortOrder}</if>
        </where>
        limit #{start}, #{size}
    </select>

    <select id="queryNewsListTotal" parameterType="com.meixin.bid_admin.web.dto.NewsCondition" resultType="int">
      SELECT count(0) FROM news
        <where>
            <if test="uid != -1">uid=#{uid}</if>
            <if test="title != null and title != ''"> AND title=#{title}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                AND create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>
    
    <delete id="deleteNews">
        DELETE FROM news
        <where>
            news_id in
            <foreach collection="newsIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            <if test="uid != -1">AND uid=#{uid}</if>
        </where>
    </delete>


</mapper>