<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meixin.bid_admin.mappers.dao.ProductDao" >

    <resultMap id="queryProductListByUidMap" type="com.meixin.bid_admin.entity.Product">
        <id column="product_id" property="productId" jdbcType="INTEGER" />
        <id column="code" property="code" jdbcType="VARCHAR" />
        <id column="p_name" property="name" jdbcType="VARCHAR" />
        <id column="spec" property="spec" jdbcType="VARCHAR" />
        <id column="unit" property="unit" jdbcType="VARCHAR" />
        <id column="max_unit_price" property="maxUnitPrice" jdbcType="FLOAT" />
        <id column="default_gradient" property="defaultGradient" jdbcType="VARCHAR" />
        <id column="product_desc" property="productDesc" jdbcType="VARCHAR" />
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <id column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <association property="productType" javaType="com.meixin.bid_admin.entity.ProductType">
            <result column="product_type_id" property="productTypeId" jdbcType="INTEGER" />
            <result column="pt_name" property="name" jdbcType="VARCHAR" />
        </association>
    </resultMap>

    <select id="queryProductListByUid" parameterType="com.meixin.bid_admin.web.dto.ProductCondition" resultMap="queryProductListByUidMap">
        SELECT
          P.product_id, P.code, PT.product_type_id, PT.name pt_name, P.name p_name, P.spec, P.unit, P.max_unit_price, P.default_gradient, P.product_desc,
          P.create_time, P.update_time, P.uid
        FROM product P
        INNER JOIN product_type PT ON P.product_type_id=PT.product_type_id
        <where>
            <if test="productTypeId != null and productTypeId != '' and productTypeId > 0"> AND P.product_type_id=#{productTypeId}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
              AND P.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="sortName != null and sortName == 'productId'">ORDER BY P.product_id ${sortOrder}</if>
            <if test="sortName != null and sortName == 'productType.name'">ORDER BY PT.name ${sortOrder}</if>
            <if test="sortName != null and sortName == 'maxUnitPrice'">ORDER BY P.max_unit_price ${sortOrder}</if>
            <if test="sortName != null and sortName == 'createTime'">ORDER BY P.create_time ${sortOrder}</if>
            <if test="sortName != null and sortName == 'updateTime'">ORDER BY P.update_time ${sortOrder}</if>
        </where>
        limit #{start}, #{size}
    </select>

    <select id="queryProductListTotal" parameterType="com.meixin.bid_admin.web.dto.ProductCondition" resultType="int">
      SELECT count(0) FROM product
        <where>
            <if test="productTypeId != null and productTypeId != '' and productTypeId > 0"> AND product_type_id=#{productTypeId}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                AND create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>
    
    <delete id="deleteProducts">
        DELETE FROM product
        <where>
            product_id in
            <foreach collection="productIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </delete>


</mapper>