<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meixin.bid_admin.mappers.dao.ProductTypeDao" >

    <select id="queryProductTypeListByUid" parameterType="com.meixin.bid_admin.web.dto.BasePageCondition" resultType="com.meixin.bid_admin.entity.ProductType">
        SELECT
          PT.product_type_id, PT.name, PT.uid, PT.create_time, PT.update_time, count(P.product_type_id) count
        FROM product_type PT
        LEFT JOIN product P ON P.product_type_id=PT.product_type_id
        <where>
            <if test="uid != -1">PT.uid=#{uid}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
              AND PT.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        <choose>
            <when test="sortName == null or sortName == ''">
                GROUP BY PT.name
            </when>
        </choose>
        <choose>
            <when test="sortName != null and sortName == 'createTime'">GROUP BY PT.create_time  ${sortOrder}</when>
            <when test="sortName != null and sortName == 'updateTime'">GROUP BY PT.update_time  ${sortOrder}, PT.name</when>
            <when test="sortName != null and sortName == 'name'">GROUP BY PT.name  ${sortOrder}</when>
        </choose>
        limit #{start}, #{size}
    </select>

    <select id="queryProductTypeListTotal" parameterType="com.meixin.bid_admin.web.dto.BasePageCondition" resultType="int">
      SELECT count(0) FROM product_type
        <where>
            <if test="uid != -1">uid=#{uid}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                AND create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>
    
    <delete id="deleteProductTypes">
        DELETE FROM product_type
        <where>
            product_type_id in
            <foreach collection="productTypeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
            <if test="uid != -1">AND uid=#{uid}</if>
        </where>
    </delete>


</mapper>