<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meixin.bid_admin.mappers.dao.SupplierTypeDao" >

    <select id="querySupplierTypeListByUid" parameterType="com.meixin.bid_admin.web.dto.BasePageCondition" resultType="com.meixin.bid_admin.entity.SupplierType">
        SELECT
          ST.supplier_type_id, ST.name, ST.uid, ST.create_time, ST.update_time, count(S.supplier_type_id) count
        FROM supplier_type ST
        LEFT JOIN supplier S ON S.supplier_type_id=ST.supplier_type_id
        <where>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
              AND ST.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
        <choose>
            <when test="sortName == null or sortName == ''">
                GROUP BY ST.name
            </when>
        </choose>
        <choose>
            <when test="sortName != null and sortName == 'createTime'">GROUP BY ST.create_time  ${sortOrder}</when>
            <when test="sortName != null and sortName == 'updateTime'">GROUP BY ST.update_time  ${sortOrder}, ST.name</when>
            <when test="sortName != null and sortName == 'name'">GROUP BY ST.name  ${sortOrder}</when>
        </choose>
        limit #{start}, #{size}
    </select>

    <select id="querySupplierTypeListTotal" parameterType="com.meixin.bid_admin.web.dto.BasePageCondition" resultType="int">
      SELECT count(0) FROM supplier_type
        <where>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                AND create_time BETWEEN #{startDate} AND #{endDate}
            </if>
        </where>
    </select>

    <delete id="deleteSupplierTypes">
        DELETE FROM supplier_type
        <where>
            supplier_type_id in
            <foreach collection="supplierTypeIds" item="id" index="index" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </delete>


</mapper>