<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meixin.bid_admin.mappers.dao.WinBidDao" >

    <resultMap id="queryWinBidListByUidMap" type="com.meixin.bid_admin.entity.WinBid">
        <id column="win_bid_id" property="winBidId" jdbcType="INTEGER" />
        <id column="uid" property="uid" jdbcType="INTEGER" />
        <id column="bid_detail_id" property="bidDetailId" jdbcType="INTEGER" />
        <id column="bid_name" property="bidName" jdbcType="VARCHAR" />
        <id column="product_id" property="productId" jdbcType="INTEGER" />
        <id column="suid" property="suid" jdbcType="INTEGER" />
        <id column="reason" property="reason" jdbcType="VARCHAR" />
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />

        <association property="supplier" javaType="com.meixin.bid_admin.entity.Supplier">
            <result column="username" property="username" jdbcType="VARCHAR" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="company_name" property="companyName" jdbcType="VARCHAR" />
            <result column="phone" property="phone" jdbcType="VARCHAR" />
            <result column="legal" property="legal" jdbcType="VARCHAR" />
        </association>
        <association property="bidding" javaType="com.meixin.bid_admin.entity.Bidding">
            <result column="start_price" property="startPrice" jdbcType="FLOAT" />
            <result column="step" property="step" jdbcType="INTEGER" />
            <result column="number" property="number" jdbcType="INTEGER" />
            <result column="mark" property="mark" jdbcType="INTEGER" />
            <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
            <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
            <result column="end_delivery_date" property="endDeliveryDate" jdbcType="TIMESTAMP" />
            <result column="end_pay_date" property="endPayDate" jdbcType="TIMESTAMP" />
            <result column="bid_desc" property="bidDesc" jdbcType="VARCHAR" />
        </association>
        <association property="product" javaType="com.meixin.bid_admin.entity.Product">
            <id column="code" property="code" jdbcType="VARCHAR" />
            <id column="p_name" property="name" jdbcType="VARCHAR" />
            <id column="spec" property="spec" jdbcType="VARCHAR" />
            <id column="unit" property="unit" jdbcType="VARCHAR" />
            <id column="product_desc" property="productDesc" jdbcType="VARCHAR" />
        </association>
        <association property="bidDetails" javaType="com.meixin.bid_admin.entity.BidDetails">
            <result column="price" property="price" jdbcType="FLOAT" />
            <result column="bd_create_time" property="createTime" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>

    <select id="queryWinBidListByUid" parameterType="com.meixin.bid_admin.web.dto.WinBidCondition" resultMap="queryWinBidListByUidMap">
        SELECT C.*, su.username, su.name, su.phone, su.company_name, su.legal FROM
        (
        SELECT bd.price, bd.create_time bd_create_time, B.* FROM
        (
        SELECT A.*, P.code, P.name p_name, P.spec, P.unit, P.product_desc FROM
        (
        SELECT wb.*, bi.start_price, bi.step, bi.number, bi.mark, bi.start_time, bi.end_time, bi.end_delivery_date, bi.end_pay_date, bi.bid_desc FROM win_bid wb
        INNER JOIN bidding bi ON bi.name=wb.bid_name AND bi.product_id=wb.product_id
        ) A
        INNER JOIN product P ON A.product_id=P.product_id
        ) B
        INNER JOIN bid_details bd ON bd.bid_name=B.bid_name AND bd.product_id=B.product_id AND bd.uid=B.suid
        AND bd.bid_detail_id=B.bid_detail_id
        ) C
        INNER JOIN supplier su ON C.suid=su.supplier_id
        <where>
            <if test="uid != -1">C.uid=${uid}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                AND C.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="bidName != null and bidName != ''">AND C.bid_name=#{bidName}</if>
            <if test="username != null and username != ''">AND su.username=#{username}</if>
        </where>
        <if test="sortName != null and sortName == 'createTime'">ORDER BY C.bd_create_time ${sortOrder}</if>
        limit #{start}, #{size}
    </select>

    <select id="queryWinBidListTotal" parameterType="com.meixin.bid_admin.web.dto.WinBidCondition" resultType="int">
        SELECT COUNT(0) FROM
        (
        SELECT bd.price, B.* FROM
        (
        SELECT A.*, P.code, P.name p_name, P.spec, P.unit, P.product_desc FROM
        (
        SELECT wb.*, bi.start_price, bi.step, bi.number, bi.mark, bi.start_time, bi.end_time, bi.end_delivery_date, bi.end_pay_date, bi.bid_desc FROM win_bid wb
        INNER JOIN bidding bi ON bi.name=wb.bid_name AND bi.product_id=wb.product_id
        ) A
        INNER JOIN product P ON A.product_id=P.product_id
        ) B
        INNER JOIN bid_details bd ON bd.bid_name=B.bid_name AND bd.product_id=B.product_id AND bd.uid=B.suid
        AND bd.bid_detail_id=B.bid_detail_id
        ) C
        INNER JOIN supplier su ON C.suid=su.supplier_id
        <where>
            <if test="uid != -1">C.uid=${uid}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                AND C.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="bidName != null and bidName != ''">AND C.bid_name=#{bidName}</if>
            <if test="username != null and username != ''">AND su.username=#{username}</if>
        </where>
    </select>


</mapper>