<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.meixin.bid_admin.mappers.dao.WinBidDao" >

    <resultMap id="queryWinBidListByUidMap" type="com.meixin.bid_admin.entity.WinBid">
        <id column="win_bid_id" property="winBidId" jdbcType="INTEGER" />
        <id column="uid" property="uid" jdbcType="INTEGER" />
        <id column="bid_detail_id" property="bidDetailId" jdbcType="INTEGER" />
        <id column="bid_name" property="bidName" jdbcType="VARCHAR" />
        <id column="product_id" property="productId" jdbcType="INTEGER" />
        <id column="suid" property="suid" jdbcType="INTEGER" />
        <id column="reason" property="reason" jdbcType="VARCHAR" />
        <id column="create_time" property="createTime" jdbcType="TIMESTAMP" />

        <association property="supplier" javaType="com.meixin.bid_admin.entity.Supplier">
            <result column="username" property="username" jdbcType="VARCHAR" />
            <result column="name" property="name" jdbcType="VARCHAR" />
            <result column="company_name" property="companyName" jdbcType="VARCHAR" />
            <result column="phone" property="phone" jdbcType="VARCHAR" />
            <result column="legal" property="legal" jdbcType="VARCHAR" />
        </association>
        <association property="bidding" javaType="com.meixin.bid_admin.entity.Bidding">
            <result column="start_price" property="startPrice" jdbcType="FLOAT" />
            <result column="step" property="step" jdbcType="INTEGER" />
            <result column="number" property="number" jdbcType="INTEGER" />
            <result column="mark" property="mark" jdbcType="INTEGER" />
            <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
            <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
            <result column="end_delivery_date" property="endDeliveryDate" jdbcType="TIMESTAMP" />
            <result column="end_pay_date" property="endPayDate" jdbcType="TIMESTAMP" />
            <result column="bid_desc" property="bidDesc" jdbcType="VARCHAR" />
        </association>
        <association property="product" javaType="com.meixin.bid_admin.entity.Product">
            <id column="code" property="code" jdbcType="VARCHAR" />
            <id column="p_name" property="name" jdbcType="VARCHAR" />
            <id column="spec" property="spec" jdbcType="VARCHAR" />
            <id column="unit" property="unit" jdbcType="VARCHAR" />
            <id column="product_desc" property="productDesc" jdbcType="VARCHAR" />
        </association>
        <association property="bidDetails" javaType="com.meixin.bid_admin.entity.BidDetails">
            <result column="price" property="price" jdbcType="FLOAT" />
            <result column="optimal" property="optimal" jdbcType="FLOAT" />
            <result column="bd_create_time" property="createTime" jdbcType="TIMESTAMP" />
        </association>
    </resultMap>

    <select id="queryWinBidListByUid" parameterType="com.meixin.bid_admin.web.dto.WinBidCondition" resultMap="queryWinBidListByUidMap">
        SELECT C.*, su.username, su.name, su.phone, su.company_name, su.legal FROM
        (
        SELECT B.*, P.code, P.name p_name, P.spec, P.unit, P.product_desc FROM
        (
        SELECT wb1.reason, A.* FROM
        (
        SELECT
        CASE b1.mark
        WHEN 1 THEN MAX(bd1.price)
        WHEN 2 THEN MIN(bd1.price)
        ELSE 0
        END
        as optimal,
        bd1.price, bd1.uid suid, bd1.bid_detail_id, bd1.create_time,
        b1.uid, b1.name bid_name, b1.product_id, b1.start_price, b1.step, b1.number, b1.mark, b1.start_time, b1.end_time, b1.end_delivery_date, b1.end_pay_date, b1.bid_desc

        FROM bidding b1
        LEFT JOIN bid_details bd1 ON b1.name=bd1.bid_name AND b1.product_id=bd1.product_id
        -- WHERE b1.suid=20
        GROUP BY bid_name, b1.product_id, suid
        ) A
        LEFT JOIN win_bid wb1 ON wb1.bid_name=A.bid_name AND wb1.product_id=A.product_id AND wb1.suid=A.suid
        GROUP BY A.bid_name, A.product_id, A.suid
        ) B
        LEFT JOIN product P ON B.product_id = P.product_id
        ) C
        LEFT JOIN supplier su ON C.suid = su.supplier_id
        <where>
            <if test="uid != -1">C.uid=${uid}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                AND C.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="bidName != null and bidName != ''">AND C.bid_name=#{bidName}</if>
            <if test="username != null and username != ''">AND su.username=#{username}</if>
        </where>
        limit #{start}, #{size}
    </select>


    <select id="queryWinBidListTotal" parameterType="com.meixin.bid_admin.web.dto.WinBidCondition" resultType="int">
        SELECT COUNT(0) FROM
        (
        SELECT B.*, P.code, P.name p_name, P.spec, P.unit, P.product_desc FROM
        (
        SELECT wb1.reason, A.* FROM
        (
        SELECT
        CASE b1.mark
        WHEN 1 THEN MAX(bd1.price)
        WHEN 2 THEN MIN(bd1.price)
        ELSE 0
        END
        as optimal,
        bd1.price, bd1.uid suid, bd1.bid_detail_id, bd1.create_time,
        b1.uid, b1.name bid_name, b1.product_id, b1.start_price, b1.step, b1.number, b1.mark, b1.start_time, b1.end_time, b1.end_delivery_date, b1.end_pay_date, b1.bid_desc

        FROM bidding b1
        LEFT JOIN bid_details bd1 ON b1.name=bd1.bid_name AND b1.product_id=bd1.product_id
        -- WHERE b1.suid=20
        GROUP BY bid_name, b1.product_id, suid
        ) A
        LEFT JOIN win_bid wb1 ON wb1.bid_name=A.bid_name AND wb1.product_id=A.product_id AND wb1.suid=A.suid
        GROUP BY A.bid_name, A.product_id, A.suid
        ) B
        LEFT JOIN product P ON B.product_id = P.product_id
        ) C
        LEFT JOIN supplier su ON C.suid = su.supplier_id
        <where>
            <if test="uid != -1">C.uid=${uid}</if>
            <if test="(startDate != null and startDate != '') and (endDate != null and endDate != '')">
                AND C.create_time BETWEEN #{startDate} AND #{endDate}
            </if>
            <if test="bidName != null and bidName != ''">AND C.bid_name=#{bidName}</if>
            <if test="username != null and username != ''">AND su.username=#{username}</if>
        </where>
    </select>


</mapper>